x-airflow-local-env: &airflow-local-env
  AIRFLOW__SECRETS__BACKEND: ""
  AWS_ACCESS_KEY_ID: test
  AWS_SECRET_ACCESS_KEY: test
  AWS_DEFAULT_REGION: us-east-1
  AIRFLOW_CONN_S3_DATALAKE: aws://test:test@/?endpoint_url=http%3A%2F%2Flocalstack%3A4566&region_name=us-east-1
  AIRFLOW_CONN_CDW-DEV: postgresql://cdw_user:cdw_password@postgres-cdw:5432/cdw

services:
  localstack:
    container_name: "localstack-s3only"
    image: localstack/localstack
    networks:
      - airflow
    ports:
      - "127.0.0.1:4566:4566"
    env_file:
      - .localstack.env
    volumes:
      - "./localstack:/docker-entrypoint-initaws.d"
  postgres-cdw:
    image: postgres:latest
    env_file:
      - .postgres_cdw.env
    networks:
      - airflow
    ports:
      - "127.0.0.1:5532:5432"
    # At this time, I do not want this info to persist from run to run / build to build.
    #  (I also don't know if the volume path below will work, so...)
    # volumes:
    #   - postgres-db-volume:/var/lib/postgresql/cdw
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "cdw_user", "-d", "cdw"]
      interval: 10s
      retries: 5
      start_period: 5s
    restart: always
  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: pgadmin
    restart: always
    networks:
      - airflow
    ports:
      - "127.0.0.1:8081:80"
    env_file:
      - .pgadmin.env
  scheduler:
    environment:
      <<: *airflow-local-env
  api-server:
    environment:
      <<: *airflow-local-env
  dag-processor:
    environment:
      <<: *airflow-local-env
  triggerer:
    environment:
      <<: *airflow-local-env
