# Astro Runtime includes the following pre-installed providers packages: https://docs.astronomer.io/astro/runtime-image-architecture#provider-packages
dag-factory
apache-airflow-providers-postgres
apache-airflow
apache-airflow-providers-amazon