default:
  catchup: false
  dagrun_timeout_sec: 300
  default_args:
    depends_on_past: false
    email_on_failure: false
    email_on_retry: false
    owner: airflow
    retries: 1
    start_date: 2023-01-01 00:00:00
  default_view: graph
  schedule_interval: '@daily'
