default:
  catchup: false
  dagrun_timeout_sec: 300
  default_args:
    depends_on_past: false
    email_on_failure: false
    email_on_retry: false
    owner: airflow
    retries: 1
    start_date: 2023-01-01 00:00:00
  default_view: graph
  schedule_interval: '@daily'
prep_building_permit_codes:
  dag_id: prep_building_permit_codes
  default_args:
    file_location: http://www.stlouis-mo.gov/data/upload/data-files/codes.zip
    file_name: building_permit_codes.zip
  tasks:
    log_info:
      op_args:
      - building_permit_codes.zip
      - http://www.stlouis-mo.gov/data/upload/data-files/codes.zip
      operator: airflow.operators.python.PythonOperator
      python_callable: utils.log_gov_file_info
      task_id: log_info
    start:
      operator: airflow.operators.empty.EmptyOperator
      task_id: start
    upload_to_s3:
      op_args:
      - building_permit_codes.zip
      - http://www.stlouis-mo.gov/data/upload/data-files/codes.zip
      operator: airflow.operators.python.PythonOperator
      python_callable: utils.download_and_upload_to_s3
      task_id: upload_to_s3
prep_building_permits_bdo:
  dag_id: prep_building_permits_bdo
  default_args:
    file_location: http://www.stlouis-mo.gov/data/upload/data-files/prmbdo.zip
    file_name: building_permits_bdo.zip
  tasks:
    log_info:
      op_args:
      - building_permits_bdo.zip
      - http://www.stlouis-mo.gov/data/upload/data-files/prmbdo.zip
      operator: airflow.operators.python.PythonOperator
      python_callable: utils.log_gov_file_info
      task_id: log_info
    start:
      operator: airflow.operators.empty.EmptyOperator
      task_id: start
    upload_to_s3:
      op_args:
      - building_permits_bdo.zip
      - http://www.stlouis-mo.gov/data/upload/data-files/prmbdo.zip
      operator: airflow.operators.python.PythonOperator
      python_callable: utils.download_and_upload_to_s3
      task_id: upload_to_s3
prep_building_permits_emp:
  dag_id: prep_building_permits_emp
  default_args:
    file_location: http://www.stlouis-mo.gov/data/upload/data-files/prmemp.zip
    file_name: building_permits_emp.zip
  tasks:
    log_info:
      op_args:
      - building_permits_emp.zip
      - http://www.stlouis-mo.gov/data/upload/data-files/prmemp.zip
      operator: airflow.operators.python.PythonOperator
      python_callable: utils.log_gov_file_info
      task_id: log_info
    start:
      operator: airflow.operators.empty.EmptyOperator
      task_id: start
    upload_to_s3:
      op_args:
      - building_permits_emp.zip
      - http://www.stlouis-mo.gov/data/upload/data-files/prmemp.zip
      operator: airflow.operators.python.PythonOperator
      python_callable: utils.download_and_upload_to_s3
      task_id: upload_to_s3
prep_forestry_maintenance_properties:
  dag_id: prep_forestry_maintenance_properties
  default_args:
    file_location: http://www.stlouis-mo.gov/data/upload/data-files/forestry-maintenance-properties.csv
    file_name: forestry_maintenance_properties.csv
  tasks:
    log_info:
      op_args:
      - forestry_maintenance_properties.csv
      - http://www.stlouis-mo.gov/data/upload/data-files/forestry-maintenance-properties.csv
      operator: airflow.operators.python.PythonOperator
      python_callable: utils.log_gov_file_info
      task_id: log_info
    start:
      operator: airflow.operators.empty.EmptyOperator
      task_id: start
    upload_to_s3:
      op_args:
      - forestry_maintenance_properties.csv
      - http://www.stlouis-mo.gov/data/upload/data-files/forestry-maintenance-properties.csv
      operator: airflow.operators.python.PythonOperator
      python_callable: utils.download_and_upload_to_s3
      task_id: upload_to_s3
prep_historical_conservation:
  dag_id: prep_historical_conservation
  default_args:
    file_location: http://www.stlouis-mo.gov/data/upload/data-files/hcd.zip
    file_name: historical_conservation.zip
  tasks:
    log_info:
      op_args:
      - historical_conservation.zip
      - http://www.stlouis-mo.gov/data/upload/data-files/hcd.zip
      operator: airflow.operators.python.PythonOperator
      python_callable: utils.log_gov_file_info
      task_id: log_info
    start:
      operator: airflow.operators.empty.EmptyOperator
      task_id: start
    upload_to_s3:
      op_args:
      - historical_conservation.zip
      - http://www.stlouis-mo.gov/data/upload/data-files/hcd.zip
      operator: airflow.operators.python.PythonOperator
      python_callable: utils.download_and_upload_to_s3
      task_id: upload_to_s3
prep_inspections_condemnations_vacancies:
  dag_id: prep_inspections_condemnations_vacancies
  default_args:
    file_location: http://www.stlouis-mo.gov/data/upload/data-files/condemn.zip
    file_name: inspections_condemnations_vacancies.zip
  tasks:
    log_info:
      op_args:
      - inspections_condemnations_vacancies.zip
      - http://www.stlouis-mo.gov/data/upload/data-files/condemn.zip
      operator: airflow.operators.python.PythonOperator
      python_callable: utils.log_gov_file_info
      task_id: log_info
    start:
      operator: airflow.operators.empty.EmptyOperator
      task_id: start
    upload_to_s3:
      op_args:
      - inspections_condemnations_vacancies.zip
      - http://www.stlouis-mo.gov/data/upload/data-files/condemn.zip
      operator: airflow.operators.python.PythonOperator
      python_callable: utils.download_and_upload_to_s3
      task_id: upload_to_s3
prep_lra_public:
  dag_id: prep_lra_public
  default_args:
    file_location: http://www.stlouis-mo.gov/data/upload/data-files/lra_public.zip
    file_name: lra_public.zip
  tasks:
    log_info:
      op_args:
      - lra_public.zip
      - http://www.stlouis-mo.gov/data/upload/data-files/lra_public.zip
      operator: airflow.operators.python.PythonOperator
      python_callable: utils.log_gov_file_info
      task_id: log_info
    start:
      operator: airflow.operators.empty.EmptyOperator
      task_id: start
    upload_to_s3:
      op_args:
      - lra_public.zip
      - http://www.stlouis-mo.gov/data/upload/data-files/lra_public.zip
      operator: airflow.operators.python.PythonOperator
      python_callable: utils.download_and_upload_to_s3
      task_id: upload_to_s3
prep_prcl:
  dag_id: prep_prcl
  default_args:
    file_location: http://www.stlouis-mo.gov/data/upload/data-files/prcl.zip
    file_name: prcl.zip
  tasks:
    log_info:
      op_args:
      - prcl.zip
      - http://www.stlouis-mo.gov/data/upload/data-files/prcl.zip
      operator: airflow.operators.python.PythonOperator
      python_callable: utils.log_gov_file_info
      task_id: log_info
    start:
      operator: airflow.operators.empty.EmptyOperator
      task_id: start
    upload_to_s3:
      op_args:
      - prcl.zip
      - http://www.stlouis-mo.gov/data/upload/data-files/prcl.zip
      operator: airflow.operators.python.PythonOperator
      python_callable: utils.download_and_upload_to_s3
      task_id: upload_to_s3
prep_property_sales:
  dag_id: prep_property_sales
  default_args:
    file_location: http://www.stlouis-mo.gov/data/upload/data-files/prclsale.zip
    file_name: property_sales.zip
  tasks:
    log_info:
      op_args:
      - property_sales.zip
      - http://www.stlouis-mo.gov/data/upload/data-files/prclsale.zip
      operator: airflow.operators.python.PythonOperator
      python_callable: utils.log_gov_file_info
      task_id: log_info
    start:
      operator: airflow.operators.empty.EmptyOperator
      task_id: start
    upload_to_s3:
      op_args:
      - property_sales.zip
      - http://www.stlouis-mo.gov/data/upload/data-files/prclsale.zip
      operator: airflow.operators.python.PythonOperator
      python_callable: utils.download_and_upload_to_s3
      task_id: upload_to_s3
